<div class="new-info-card">
    <h2>Add a New Client</h2>
        <h3>Owner Information</h3>
        <form class="form new-client-form">
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input class="form-input" type="text" id="first-name" name="first-name" />
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input class="form-input" type="text" id="last-name" name="last-name" />
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <textarea class="form-input" type="text" id="address" name="address"></textarea>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <textarea class="form-input" type="text" id="email" name="email"></textarea>
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <textarea class="form-input" id="phone" name="phone"></textarea>
        </div>

        <br>

        <h3>Pet Information</h3>
        <div class="form-group">
            <label for="pets">Name:</label>
            <textarea class="form-input" id="petname" name="petname"></textarea>
        </div>
        <!--
        possible breed input area or drop down.
        <div class="form-group">
            <label for="breed">Breed:</label>
            <textarea class="form-input" id="breed" name="breed"></textarea>
        </div>
         possible special directions area for special notes about that pet.
        <div class="form-group">
            <label for="address">Address:</label>
            <textarea class="form-input" id="address" name="address"></textarea>
        </div>  -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        </form>
    </div>